*{

}

body{
    background-image: url(../imagens/Churrasco\ Background.jpg);
    background-repeat: no-repeat;
    background-size: cover

}
.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    background-color: #e2d849;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    
    
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

